<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>willwashburn.epoch_time_converter</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B1E51B9-31C7-421A-BC86-35A7B949CB70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Will Washburn</string>
	<key>description</key>
	<string>Converts strings to epoch time or an epoch time to a human readable date</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Epoch Time Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>1</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>df</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>    $input = "{query}";

    $timezone = "";

    // On many systems (Mac, for instance) "/etc/localtime" is a symlink
    // to the file with the timezone info
    if (is_link("/etc/localtime")) {

        // If it is, that file's name is actually the "Olsen" format timezone
        $filename = readlink("/etc/localtime");

        $pos = strpos($filename, "zoneinfo");
        if ($pos) {
            // When it is, it's in the "/usr/share/zoneinfo/" folder
            $timezone = substr($filename, $pos + strlen("zoneinfo/"));
        } else {
            // If not, bail
            $timezone = $default;
        }
    }
    else {
        // On other systems, like Ubuntu, there's file with the Olsen time
        // right inside it.
        $timezone = file_get_contents("/etc/timezone");
        if (!strlen($timezone)) {
            $timezone = $default;
        }
    }
    date_default_timezone_set($timezone);

    $epoch_time = is_numeric($input) ? $input : strtotime($input);
    $epoch_time = $epoch_time ?: time();

    $items   = [];
    $items[] = [
        'uid'      =&gt; 'epoch-time',
        'title'    =&gt; $epoch_time,
        'arg'      =&gt; $epoch_time,
        'subtitle' =&gt; date('l M jS Y, g:ia', $epoch_time),
    ];

    $timezones = [
        $timezone,
        'America/New_York',
        'America/Chicago',
    ];

    foreach ( $timezones as $tz ) {

        $dt = new DateTime("now", new DateTimeZone($tz)); //first argument "must" be a string
        $dt-&gt;setTimestamp($epoch_time); //adjust the object to correct timestamp

        $items[] = [
            'uid'      =&gt; 'pretty-time-'.$tz,
            'title'    =&gt; $dt-&gt;format('l M jS Y, g:ia T'),
            'arg'      =&gt; $dt-&gt;format('l M jS Y, g:ia T'),
            'subtitle' =&gt; $tz,
        ];
    }

    echo json_encode(['items'=&gt; $items]);</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Convert a string to epoch time</string>
				<key>title</key>
				<string>Date Formatter</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2B1E51B9-31C7-421A-BC86-35A7B949CB70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2B1E51B9-31C7-421A-BC86-35A7B949CB70</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>willwashburn.com</string>
</dict>
</plist>
